{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="div-body">
        <div id="div_q1" class="div-ans-left">
            <strong1>{{ django_answer.text }}</strong1>
            {% for answer_d in ans_d %}
                <div class="answer">
                    <hr>
                    <div align="center" class="date-answer">
                        Time of installation
                        <p>{{ answer_d.date_added|timesince }}</p>
                    </div>
                    <div class="text-quest">
                        <pre class="text-answer">{{ answer_d.text|linebreaks }}</pre>
                    </div>
                    <div class="bot">
                        <p>{{ answer_d.email }}</p>
                        <p>{{ answer_d.name }}</p>
                    </div>
                </div>
            {% endfor %}
            <div class="form-group has-warning">
                <form action="{% url 'django_answer' django_question_id %}" method="post"
                      style="margin-top: 5%">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary navbar-left btn-answer">
                        Add answer
                    </button>

                </form>
            </div>
        </div>
    </div>

{% endblock content %}