{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="about">
        <p align="center" class="about-p">ABOUT US</p>
        <div class="image">
            <img src="{% static 'img/about_2.jpg' %}" class="box">
        </div>
        <div class="about-text">
            <p class="pag">
                Talented Designers & Developers
            </p>
            <p class="pag1">
                Bizin itCourse web saydymyz gelejekde yaslaryn programmirlema howeslerini artdyrmak hem-de durli programma kurslaryny ansatlyk
                bilen owrenmekleri ucin gin mumkinciliklerini hodurleyar. Bizin bu saydymyzda dine bir owrenmek bilen caklenman eysem programmirlemede yuze cykan
                soraglarynyzy bermek bilen bu yerden jogaplarynyzy tapyp bilersiniz
            </p>
            <p class="pag1">
                Hazirlikce biz programmirlema degisli videolarymyzy tayyarlap yetismedik, yone bizin Sorag-jogap bolumiz doly derejede tayyar boldy. Yene-de az wagtdan
                saydymyz doly derejede tayyar bolar.
            </p>
        </div>

    </div>
{% endblock content %}